<a href="https://colab.research.google.com/github/Julibio7/PythonCientistas/blob/main/Tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> Os tipos de dados padrão do Python são:

**Objetivo**

✅Conhecer os tipos de dados:
* Inteiro (int)
* Ponto Flutuante ou Decimal (float)
* Tipo Complexo (complex)
* String (str)
* Boolean (bool)

✅ Tipos de estrutura de dados:
* List (list)
* Tuple
* Dictionary (dic)

✅ Conversão entre tipo de dados

## Tipo Inteiro (int)

O tipo inteiro é um tipo composto por caracteres numéricos inteiros.

É um tipo usado para um número que pode ser escrito sem um componente decimal, podendo ser positivo ou negativo.

Por exemplo, 21, 4, 0, e −2048 são números inteiros, enquanto 9.75, 1/2, 1.5 não são.

Exemplos:

In [ ]:
ano = 2022
idade = 50

#use a função print para imprimir e junto a função type para ver o tipo 
print(type(ano))
print(type(idade))

## Ponto Flutuante ou Decimal (float)
É um tipo composto por caracteres numéricos decimais.

O famoso ponto flutuante é um tipo usado para números racionais (números que podem ser representados por uma fração) informalmente conhecido como “número quebrado”.

Exemplos:

In [ ]:
altura = 1.80
peso = 73.55

print(type(peso))
print(type(altura))

## String (str)
É um conjunto de caracteres dispostos numa determinada ordem, geralmente utilizada para representar palavras, frases ou textos.

Exemplos:

In [ ]:
nome = 'Juliana'
profissao = 'Professora'

print(type(profissao))
print(type(nome))

Pode ser utilizado "Aspas duplas" ou 'aspas simples'

In [ ]:
x = "Cientistas"
# é o mesmo que:
x = 'Cientistas'

## Boolean (bool)
Tipo de dado lógico que pode assumir apenas dois valores: falso ou verdadeiro (False ou True em Python).

Na lógica computacional, podem ser considerados como 0 ou 1.

Exemplos:

In [ ]:
fim_de_semana = True
feriado = False

print(type(fim_de_semana))
print(type(feriado))

##Listas (list)
Tipo de dado muito importante e utilizado no dia a dia do desenvolvedor Python!

Listas agrupam um conjunto de elementos variados, podendo conter: inteiros, floats, strings, outras listas e outros tipos.

Elas são definidas utilizando-se colchetes para delimitar a lista e vírgulas para separar os elementos, veja alguns exemplo abaixo:

In [ ]:
alunos = ['Amanda', 'Ana', 'Bruno', 'João']
notas = [10, 8.5, 7.8, 8.0] 

print(type(alunos))
print(type(notas))

A lista é **mutável**, sendo assim é possível adionar e apagar valores

Para adionar valores vamos utilizar a função `append()`

In [ ]:
alunos = ['Amanda', 'Ana', 'Raquel', 'João'] #definir a variável alunos

alunos.append('Irene')

print(alunos)

'eu sei o que quero e onde quero' - 

Ao utilizar a função `insert() eu consigo 
insert

In [ ]:
alunos = ['Amanda', 'Ana', 'Raquel', 'João']

In [ ]:
alunos.insert(0, 'Tereza')

In [ ]:
print(alunos)

# Tuplas

Tuplas são usadas para armazenar vários itens em uma única variável.

Uma tupla é uma coleção ordenada e imutável .

Tuplas são escritas com `()`.

In [ ]:
uma_tupla = ('Python', 'Java', 'R')

In [ ]:
print(uma_tupla)

In [ ]:
print(type(uma_tupla))

**Itens de Tupla**

Os itens de tupla são ordenados, imutáveis ​​e permitem valores duplicados.

Os itens de tupla são indexados, o primeiro item possui índice `[0]`, o segundo item possui índice `[1]`etc.

**Permitir duplicatas**

Como as tuplas são indexadas, elas podem ter itens com o mesmo valor:

In [ ]:
outra_tupla = ('Python', 'Java', 'R', 'Python')

In [ ]:
print(outra_tupla)

**Para determinar quantos itens uma tupla possui, use a `len()`função:**

In [ ]:
outra_tupla = ('Python', 'Java', 'R', 'Python')

In [ ]:
print(len(outra_tupla))

Os itens de tupla podem ser de **qualquer tipo de dados**

##Conversão entre tipos de dados

In [ ]:
a = "3490"    # a é uma string "3490"
b = int(a)    # b é um inteiro 3490

In [ ]:
type(b)

Exemplos de uso de conversão de dados

Se não podemos realizar  strings matematicamente, podemos converter a string "3490"em um inteiro 3490 e depois fazer contas com isso?

In [ ]:
var1 = "3490"  
    
print(var1 + 5)

In [ ]:
var1 = "3490"  
var2 = int(var1)   
    
print(var2 + 5)

###Mãos a Obra


Agora vamos treinar as habilidades adquiridas 🤓

DESAFIO : **Insira dois números e imprima a soma**


>_Lembre-se de usar as quatro etapas de resolução de problemas para resolver esses problemas: entender o problema  elaborar um plano e  executá-lo_

Etapa de resolução de problemas: conceber um plano .

Nós sabemos:

* inserir strings utilizando metodo de entrada `input()`
* converter strings em números
* somar números
* imprimir coisas utilizando o `print()`

Para começar, vamos apenas escrever um esboço das etapas individuais que o programa deve descrever em uma linguagem chamada _pseudocódigo_.

 Pensar em como resolver problemas é 80% do que um desenvolvedor de software é pago para fazer, então você pode praticar agora mesmo.

O que nós sabemos? Que ferramentas temos à nossa disposição? Que recursos? Como faço para juntar tudo isso para resolver esse problema, como resolver um quebra-cabeça?

Aqui está um pseudocódigo para executar o desafio:

```
ler string do teclado e atribuir a variável x
converter x para int e armazená-lo de volta em x 
ler string do teclado na variável y
converter y para int e armazená-lo de volta em y        
imprima a soma de x + y
```

Agora vamos converter cada uma dessas linhas em Python

In [ ]:
# Lê a string do teclado atribuindo a variável x
x = input("Digite um número: ")

# Converte x para int e armazena de volta em x
x = int(x)

# Lê a string do teclado atribuindo a variável y
y = input("Digite outro número: ")

# Converte y para int e armazena de volta em y 
y = int(y)

# Imprime a soma de x + y
print("A soma dos dois números é:", x + y)

## Resumo

Nessa aula abordamos

* direrentes tipos de dados
* como converter os tipos de dados
* praticamos as habilidades adquiridas utilizando métodos de entrada saída, tipo de dados e operações matemáticas.

##Agora é com você! 🤓

1. Faça uma versão do código de soma de dois números que funcione com floats em vez de int.

2. Faça um programa para imprimir a soma e a diferença entre dois números inteiros.

3.