<a href="https://colab.research.google.com/github/Julibio7/PythonCientistas/blob/main/Tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> Os tipos de dados padr√£o do Python s√£o:

**Objetivo**

‚úÖConhecer os tipos de dados:
* Inteiro (int)
* Ponto Flutuante ou Decimal (float)
* Tipo Complexo (complex)
* String (str)
* Boolean (bool)

‚úÖ Tipos de estrutura de dados:
* List (list)
* Tuple
* Dictionary (dic)

‚úÖ Convers√£o entre tipo de dados

## Tipo Inteiro (int)

O tipo inteiro √© um tipo composto por caracteres num√©ricos inteiros.

√â um tipo usado para um n√∫mero que pode ser escrito sem um componente decimal, podendo ser positivo ou negativo.

Por exemplo, 21, 4, 0, e ‚àí2048 s√£o n√∫meros inteiros, enquanto 9.75, 1/2, 1.5 n√£o s√£o.

Exemplos:

In [ ]:
ano = 2022
idade = 50

#use a fun√ß√£o print para imprimir e junto a fun√ß√£o type para ver o tipo 
print(type(ano))
print(type(idade))

## Ponto Flutuante ou Decimal (float)
√â um tipo composto por caracteres num√©ricos decimais.

O famoso ponto flutuante √© um tipo usado para n√∫meros racionais (n√∫meros que podem ser representados por uma fra√ß√£o) informalmente conhecido como ‚Äún√∫mero quebrado‚Äù.

Exemplos:

In [ ]:
altura = 1.80
peso = 73.55

print(type(peso))
print(type(altura))

## String (str)
√â um conjunto de caracteres dispostos numa determinada ordem, geralmente utilizada para representar palavras, frases ou textos.

Exemplos:

In [ ]:
nome = 'Juliana'
profissao = 'Professora'

print(type(profissao))
print(type(nome))

Pode ser utilizado "Aspas duplas" ou 'aspas simples'

In [ ]:
x = "Cientistas"
# √© o mesmo que:
x = 'Cientistas'

## Boolean (bool)
Tipo de dado l√≥gico que pode assumir apenas dois valores: falso ou verdadeiro (False ou True em Python).

Na l√≥gica computacional, podem ser considerados como 0 ou 1.

Exemplos:

In [ ]:
fim_de_semana = True
feriado = False

print(type(fim_de_semana))
print(type(feriado))

##Listas (list)
Tipo de dado muito importante e utilizado no dia a dia do desenvolvedor Python!

Listas agrupam um conjunto de elementos variados, podendo conter: inteiros, floats, strings, outras listas e outros tipos.

Elas s√£o definidas utilizando-se colchetes para delimitar a lista e v√≠rgulas para separar os elementos, veja alguns exemplo abaixo:

In [ ]:
alunos = ['Amanda', 'Ana', 'Bruno', 'Jo√£o']
notas = [10, 8.5, 7.8, 8.0] 

print(type(alunos))
print(type(notas))

A lista √© **mut√°vel**, sendo assim √© poss√≠vel adionar e apagar valores

Para adionar valores vamos utilizar a fun√ß√£o `append()`

In [ ]:
alunos = ['Amanda', 'Ana', 'Raquel', 'Jo√£o'] #definir a vari√°vel alunos

alunos.append('Irene')

print(alunos)

'eu sei o que quero e onde quero' - 

Ao utilizar a fun√ß√£o `insert() eu consigo 
insert

In [ ]:
alunos = ['Amanda', 'Ana', 'Raquel', 'Jo√£o']

In [ ]:
alunos.insert(0, 'Tereza')

In [ ]:
print(alunos)

# Tuplas

Tuplas s√£o usadas para armazenar v√°rios itens em uma √∫nica vari√°vel.

Uma tupla √© uma cole√ß√£o ordenada e imut√°vel .

Tuplas s√£o escritas com `()`.

In [ ]:
uma_tupla = ('Python', 'Java', 'R')

In [ ]:
print(uma_tupla)

In [ ]:
print(type(uma_tupla))

**Itens de Tupla**

Os itens de tupla s√£o ordenados, imut√°veis ‚Äã‚Äãe permitem valores duplicados.

Os itens de tupla s√£o indexados, o primeiro item possui √≠ndice `[0]`, o segundo item possui √≠ndice `[1]`etc.

**Permitir duplicatas**

Como as tuplas s√£o indexadas, elas podem ter itens com o mesmo valor:

In [ ]:
outra_tupla = ('Python', 'Java', 'R', 'Python')

In [ ]:
print(outra_tupla)

**Para determinar quantos itens uma tupla possui, use a `len()`fun√ß√£o:**

In [ ]:
outra_tupla = ('Python', 'Java', 'R', 'Python')

In [ ]:
print(len(outra_tupla))

Os itens de tupla podem ser de **qualquer tipo de dados**

##Convers√£o entre tipos de dados

In [ ]:
a = "3490"    # a √© uma string "3490"
b = int(a)    # b √© um inteiro 3490

In [ ]:
type(b)

Exemplos de uso de convers√£o de dados

Se n√£o podemos realizar  strings matematicamente, podemos converter a string "3490"em um inteiro 3490 e depois fazer contas com isso?

In [ ]:
var1 = "3490"  
    
print(var1 + 5)

In [ ]:
var1 = "3490"  
var2 = int(var1)   
    
print(var2 + 5)

###M√£os a Obra


Agora vamos treinar as habilidades adquiridas ü§ì

DESAFIO : **Insira dois n√∫meros e imprima a soma**


>_Lembre-se de usar as quatro etapas de resolu√ß√£o de problemas para resolver esses problemas: entender o problema  elaborar um plano e  execut√°-lo_

Etapa de resolu√ß√£o de problemas: conceber um plano .

N√≥s sabemos:

* inserir strings utilizando metodo de entrada `input()`
* converter strings em n√∫meros
* somar n√∫meros
* imprimir coisas utilizando o `print()`

Para come√ßar, vamos apenas escrever um esbo√ßo das etapas individuais que o programa deve descrever em uma linguagem chamada _pseudoc√≥digo_.

 Pensar em como resolver problemas √© 80% do que um desenvolvedor de software √© pago para fazer, ent√£o voc√™ pode praticar agora mesmo.

O que n√≥s sabemos? Que ferramentas temos √† nossa disposi√ß√£o? Que recursos? Como fa√ßo para juntar tudo isso para resolver esse problema, como resolver um quebra-cabe√ßa?

Aqui est√° um pseudoc√≥digo para executar o desafio:

```
ler string do teclado e atribuir a vari√°vel x
converter x para int e armazen√°-lo de volta em x 
ler string do teclado na vari√°vel y
converter y para int e armazen√°-lo de volta em y        
imprima a soma de x + y
```

Agora vamos converter cada uma dessas linhas em Python

In [ ]:
# L√™ a string do teclado atribuindo a vari√°vel x
x = input("Digite um n√∫mero: ")

# Converte x para int e armazena de volta em x
x = int(x)

# L√™ a string do teclado atribuindo a vari√°vel y
y = input("Digite outro n√∫mero: ")

# Converte y para int e armazena de volta em y 
y = int(y)

# Imprime a soma de x + y
print("A soma dos dois n√∫meros √©:", x + y)

## Resumo

Nessa aula abordamos

* direrentes tipos de dados
* como converter os tipos de dados
* praticamos as habilidades adquiridas utilizando m√©todos de entrada sa√≠da, tipo de dados e opera√ß√µes matem√°ticas.

##Agora √© com voc√™! ü§ì

1. Fa√ßa uma vers√£o do c√≥digo de soma de dois n√∫meros que funcione com floats em vez de int.

2. Fa√ßa um programa para imprimir a soma e a diferen√ßa entre dois n√∫meros inteiros.

3.